@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent; /*@background;*/
  color: @foreground;
  border: none;
  border-radius: 13;
  min-height: 0;
  font-family: "CaskaydiaMono Nerd Font";
  font-size: 12px;
  opacity: 1;
}

.modules-left {
  margin-left: 8px;
  margin-top: 2px;
  padding-left: 5px;
  padding-right: 5px;
  background-color: @background;
  opacity: 0.7;
}

.modules-center {
  padding-left: 5px;
  padding-right: 12px;
  margin-top: 2px;
  background-color: @background;
  opacity: 0.7;
}

.modules-right {
  margin-right: 8px;
  margin-top: 2px;
  padding-left: 12px;
  padding-right: 5px;
  background-color: @background;
  opacity: 0.7;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
}

#tray {
  margin-right: 16px;
}

#bluetooth {
  margin-right: 17px;
}

#network {
  margin-right: 13px;
}

#custom-expand-icon {
  margin-right: 18px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 10px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
